@{
    ViewData["Title"] = "About Us Page";
}

<div class="text-center">
    <h1 class="display-4">About us</h1>
    <img src="~/images/frame 1.png" style=" max-width:30%;" />
    <br />
    <br />
</div>
<p style="color:var(--color-bg2); max-margin:40%">
    Khumalo craft emporium is an entrepreneurial venture founded by James Khumalo with the goal of connecting artisans worldwide to their audience. We took inspiration from pan African markets that had all sorts of products that were on display to the public and were sought after by tourists and citizens alike.
    <br />
    <br />
    We have been in business since 2017 and had different locations around the country but now we have decided to take it a step further and go digital. We are striving to give our artisans more exposure to the world and hopefully bring fame to their craftsmanship.
    <br />
    <br />
    We look forward to seeing where this journey takes us.

</p>