@{
    ViewData["Title"] = "My work Page";
}


<div class="text-center">
    <h1 class="display-4">My Work</h1>
</div>

<div class="shop-container">
    <h2>Shop Now</h2>
    <div class="grid-container">
        <!-- Item 1 -->
        <div class="item-card">
            <img class="item-image" src="~/images/beads1.jpg" />
            <div class="item-details">
                <h3 class="item-title">Beaded Jewelery</h3>
                <p class="item-description">feel free to purchase the most authentic traditional beaded jewelery in Africa</p>
                <p class="item-price">R49.99</p>
                <button class="add-to-cart">Add to Cart</button>
            </div>
        </div>

        <!-- Item 2 -->
        <div class="item-card">
            <img class="item-image" src="~/images/drum1.jpg" />
            <div class="item-details">
                <h3 class="item-title">African Drum</h3>
                <p class="item-description">Take home a real african drum made from real cow hide</p>
                <p class="item-price">R119.99</p>
                <button class="add-to-cart">Add to Cart</button>
            </div>
        </div>

        <!-- Item 3 -->
        <div class="item-card">
            <img class="item-image" src="~/images/pottery1.jpg" />
            <div class="item-details">
                <h3 class="item-title">Clay Pottery</h3>
                <p class="item-description">An ancient art kept alive by traditional pottery makers</p>
                <p class="item-price">R44.99</p>
                <button class="add-to-cart">Add to Cart</button>
            </div>
        </div>

        <!-- Item 4 -->
        <div class="item-card">
            <img class="item-image" src="~/images/wbasket1.jpg" />
            <div class="item-details">
                <h3 class="item-title">Woven Basket</h3>
                <p class="item-description">Purchase the mesmirising basket made from weaved reeds</p>
                <p class="item-price">R49.99</p>
                <button class="add-to-cart">Add to Cart</button>
            </div>
        </div>

        <!-- Item 5 -->
        <div class="item-card">
            <img class="item-image" src="~/images/wirecar1.jpg" />
            <div class="item-details">
                <h3 class="item-title">Wire Sculptures</h3>
                <p class="item-description">A fan favourite has to be the wire scultures from our local articans</p>
                <p class="item-price">R79.99</p>
                <button class="add-to-cart">Add to Cart</button>
            </div>
        </div>

        <!-- Item 6 -->
        <div class="item-card">
            <img class="item-image" src="~/images/woodsculp1.jpg" />
            <div class="item-details">
                <h3 class="item-title">Wood Scuptures</h3>
                <p class="item-description">wood sculpting is a complex art and now you can have one at home for display</p>
                <p class="item-price">R99.99</p>
                <button class="add-to-cart">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class="shop-now">
        <a href="#">Shop All Products <i class="fas fa-chevron-right"></i></a>
    </div>
</div>


    

       